<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LOGIN PAGE</title>
</head>
<body>
	<h1>LOGIN PAGE</h1>
	<hr/>
	<form action="/login" method="post">
		<input type="text" name="username" placeholder="username" /><br/>
		<input type="password" name="password" placeholder="password" /><br/>
		<button>LOGIN</button>
	</form>
	<a href="/oauth2/authorization/google">Google LOGIN</a>
	<a href="/oauth2/authorization/facebook">Facebook LOGIN</a>
	<a href="/oauth2/authorization/naver">Naver LOGIN</a>
	<a href="/joinForm">JOIN US</a>
</body>
</html>